.right{
    flex:0.3;
    display: flex;
    flex-direction: column;
    margin: 5px 20px 0px 15px;
}
.trendswrapper{
background-color: whitesmoke;
margin: 1px 20 10px 20px;
border-radius: 20px;
height: 100vh;
display: flex;
flex-direction: column;

}
.topsearch{
    display: flex;
    width: 90%;
    /* margin: 20px; */
    align-items: center;
    background-color: whitesmoke;
    border-radius: 30px;
    margin:10px 20px 10px 20px;
  
}
.topsearchicon{
    display: flex;
    color:rgb(189, 186, 186);
    margin-left: 20px ;
    align-items: center;
    font-size: 30px;
}

.topsearch>input{
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 15px 30px;
    background-color: whitesmoke;
   
}
.trendnav{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 20px;

}
.locationwrapper{
    border-bottom: 1px solid rgb(197, 195, 195);
   
}
.location{
    font-weight: 900;
}
.settings{
  color: #00acee;
   cursor: pointer;
   padding: 5px;
   border-radius:50%;
}
/* .settings:hover{
  
    background-color: #e1e8ed;

   
} */